@font-face {
  font-family: 'Lineto-black';
  src: url("../fonts/lineto-circular-black.woff") format("woff"), url("../fonts/lineto-circular-black.ttf") format("truetype"); }

@font-face {
  font-family: 'Lineto-medium';
  src: url("../fonts/lineto-circular-pro-medium.woff") format("woff"), url("../fonts/lineto-circular-pro-medium.ttf") format("truetype"); }

@font-face {
  font-family: "Marat-Sans";
  src: url("../fonts/Marat Sans Regular.woff") format("woff"); }

.lineto-black, b {
  font-family: 'Lineto-black'; }

.lineto-medium, body {
  font-family: 'Lineto-medium'; }

.marat-sans, #top-post .container-fluid {
  font-family: 'Marat-Sans'; }

body {
  background: #F5F5F5; }

.top-post-img {
  width: 100%;
  height: 450px;
  object-fit: cover; }

.text-cyan {
  color: #60BAAF; }

.rounded-xl {
  border-radius: 10px; }

.rounded-xl-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.button {
  outline: none !important;
  border: none !important;
  padding: 8px 24px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-radius: 35px; }

.btn-light {
  background: #30BEB0;
  color: #121212; }
  .btn-light:hover {
    background: #30BEB0;
    opacity: 0.8; }
  .btn-light:focus, .btn-light:active {
    background: #30BEB0 !important; }
