.bg-flair, .bg-material, .bg-workflow, .bg-screenshot {
  color: #000;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 15px; }

.bg-screenshot {
  background: #FFD54F; }

.bg-workflow {
  background: #FF7043; }

.bg-material {
  background: #AB47BC; }

.upvote-color, .award-color {
  color: orangered; }
