// Flairs

.bg-screenshot {
    background: #FFD54F;
    color: #000;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 15px;
}

// Upvotes, awards etc

.upvote-color {
    color: orangered;
}

.award-color {
    @extend .upvote-color;
}